div.barra {
  height: 46px;

  background-color: white;
}

div.barra #lista {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1170px;
  margin: 0 auto;

  padding: 0 30px;
}

div.barra #lista ul{
  display: flex;

  margin-left: 285px;

  height: 100%;

  list-style: none;
}

div.barra #lista ul li {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin: 0 15px;

  position: relative;
}

.active::after{
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
}

div.barra #lista ul li span {
  color: #667580;

  font-size: 12px;
  font-weight: bold;
}

div.barra #lista ul li strong {
  color: #667580;

  font-size: 18px;
  font-weight: bold;

  margin-top: 2px;

}

div.barra #lista ul li.active strong {
  color: #3bb9e3;
}

div.side button {
  border: 1px solid rgb(55, 191, 236);
  border-radius: 16px;

  width: 90px;
  height: 34px;

  background-color: white;
  color: rgb(55, 191, 236);

  font-weight: bold;

  outline: none;
}

div.side button:hover{
  background-color: #3bb9e3;
  color: white;
}
