<div class="wrapper-content content">
  <aside class="profile">
    <div class="avatar"> </div>
    <h1 class="nome">Felipe Portela</h1>
    <span class="username">@felp95</span>
    <p class="description">doidera doidera doidera doidera</p>

    <ul class="lista">
      <li>Curitiba, Parana</li>
      <li>Joined, 2019</li>
      <li>Born the 6th of february 1995</li>
    </ul>

    <div class="widget followers">
      <strong>73 followers that you know</strong>

      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="widget images">
      <strong>266 Photos and videos</strong>

      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </aside>
</div>
