<div class="content">
  <section class="timeline">
    <nav>
      <a href="" class="active">Tweets</a>
      <a href="">Tweets and replies</a>
      <a href="">Medias</a>
    </nav>

    <ul class="tweets">
      <li>
        <div class="avatar"></div>
        <div class="info">
          <strong>Felipe Portela <span>@felp95</span></strong>
          <p>
            Doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
          </p>
          <div class="icons">
            <fa-icon [icon]="faComment" id="icone" class="fa-lg"> </fa-icon>
            <span>3</span>
            <fa-icon [icon]="faEnvelope" id="icone" class="fa-lg">4</fa-icon>
            <span>3</span>
            <fa-icon [icon]="faHeart" id="icone" class="fa-lg">5</fa-icon>
            <span>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="avatar"></div>
        <div class="info">
          <strong>Felipe Portela <span>@felp95</span></strong>
          <p>
            Doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
          </p>
          <div class="icons">
            <fa-icon [icon]="faComment" id="icone" class="fa-lg"> </fa-icon>
            <span>3</span>
            <fa-icon [icon]="faEnvelope" id="icone" class="fa-lg">4</fa-icon>
            <span>3</span>
            <fa-icon [icon]="faHeart" id="icone" class="fa-lg">5</fa-icon>
            <span>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="avatar"></div>
        <div class="info">
          <strong>Felipe Portela <span>@felp95</span></strong>
          <p>
            Doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
          </p>
          <div class="icons">
            <fa-icon [icon]="faComment" id="icone" class="fa-lg"> </fa-icon>
            <span>3</span>
            <fa-icon [icon]="faEnvelope" id="icone" class="fa-lg">4</fa-icon>
            <span>3</span>
            <fa-icon [icon]="faHeart" id="icone" class="fa-lg">5</fa-icon>
            <span>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="avatar"></div>
        <div class="info">
          <strong>Felipe Portela <span>@felp95</span></strong>
          <p>
            Doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
          </p>
          <div class="icons">
            <fa-icon [icon]="faComment" id="icone" class="fa-lg"> </fa-icon>
            <span>3</span>
            <fa-icon [icon]="faEnvelope" id="icone" class="fa-lg">4</fa-icon>
            <span>3</span>
            <fa-icon [icon]="faHeart" id="icone" class="fa-lg">5</fa-icon>
            <span>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="avatar"></div>
        <div class="info">
          <strong>Felipe Portela <span>@felp95</span></strong>
          <p>
            Doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
          </p>
          <div class="icons">
            <fa-icon [icon]="faComment" id="icone" class="fa-lg"> </fa-icon>
            <span>3</span>
            <fa-icon [icon]="faEnvelope" id="icone" class="fa-lg">4</fa-icon>
            <span>3</span>
            <fa-icon [icon]="faHeart" id="icone" class="fa-lg">5</fa-icon>
            <span>3</span>
          </div>
        </div>
      </li>
      <li>
        <div class="avatar"></div>
        <div class="info">
          <strong>Felipe Portela <span>@felp95</span></strong>
          <p>
            Doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
            doidera doidera doidera doidera doidera doidera doidera doidera
          </p>
          <div class="icons">
            <fa-icon [icon]="faComment" id="icone" class="fa-lg"> </fa-icon>
            <span>3</span>
            <fa-icon [icon]="faEnvelope" id="icone" class="fa-lg">4</fa-icon>
            <span>3</span>
            <fa-icon [icon]="faHeart" id="icone" class="fa-lg">5</fa-icon>
            <span>3</span>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>
