<aside class="widgets">
  <div class="widget follow">
    <div class="title">
      <strong>Who to follow</strong>
      <a href="">Refresh</a>
      <a href="">View all</a>
    </div>

    <ul>
      <li>
        <div class="profile">
          <div class="avatar"></div>
          <div class="info">
            <strong>Spade <span>@spade</span></strong>
            <button>Follow</button>
          </div>
        </div>
        <a href="">x</a>
      </li>
      <li>
        <div class="profile">
          <div class="avatar"></div>
          <div class="info">
            <strong>Spade <span>@spade</span></strong>
            <button>Follow</button>
          </div>
        </div>
        <a href="">x</a>
      </li>
      <li>
        <div class="profile">
          <div class="avatar"></div>
          <div class="info">
            <strong>Spade <span>@spade</span></strong>
            <button>Follow</button>
          </div>
        </div>
        <a href="">x</a>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="widget follow"></div>
</aside>
