<header class="header">
  <div class="content">
    <nav class="nav-link">
      <ul id="lista">
        <li>
          <fa-icon [icon]="faHome" class="fa-lg"></fa-icon> <span>Home</span>
        </li>
        <li>
          <fa-icon [icon]="faBell" class="fa-lg"></fa-icon> <span>Notifications</span>
        </li>
        <li>
          <fa-icon [icon]="faEnvelope" class="fa-lg"></fa-icon> <span> Mensagens</span>
        </li>
      </ul>
    </nav>

    <div id="logoTwitter">
      <fa-icon [icon]="faTwitter" class="fa-lg"></fa-icon>
    </div>

    <div class="side">
      <input type="text" placeholder="Search on Twitter">
      <img src="" alt="">
      <button>Tweet</button>
    </div>
  </div>
</header>
